.App {
  text-align: center;
}

.Navbar {
  margin: 0px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  margin: 0px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Budget {
  text-align: center;
  margin-top: 5vh;
  white-space: pre-wrap;
}

.User-display {
  margin: 1%;
}

.Budget-form {
  padding: 10px;
}

.Transaction-form {
  padding: 10px;
}

.Transaction-table {
  margin: 0 auto;
  width: 80vw;
}
